@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-primary: #2e997d;
  --color-primary-hover: #328e75;
  --color-primary-second: #2e997d;
  --color-primary-second-hover: #328e75;
  --color-white: #FFFFFF;
  --color-white-hover: #e9f6ff;
  --color-secondary: #46a0dc;
  --color-secondary-hover: #4596cd;
  --color-success: #31ee76;
  --color-success-hover: #2fda6e;
  --color-info: #1c1c1c;
  --color-info-hover: #0e0e0e;
  --color-ghost: #F2F2F2;
  --color-ghost-hover: #e8e8e8;
  --color-black: #130101;
  --color-warning: #f4d031;
  --color-warning-hover: #e4c331;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "pulang";
  src: url("/font/Pulang.ttf");
}
body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  min-width: 100vw;
  background: url("/bg/bg-login2.jpg");
  font-family: Verdana;
  background-size: cover;
}

.bg-white {
  background-color: var(--color-white);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-warning {
  background-color: var(--color-warning);
}

.bg-info {
  background-color: var(--color-info);
}

.bg-ghost {
  background-color: var(--color-ghost);
}

.bg-blur {
  backdrop-filter: blur(10px);
}

.bg-login {
  background: url("/bg/bg-login2.jpg");
  background-size: cover;
}

.header {
  color: var(--color-white);
}

.login {
  padding-bottom: 100px;
}
.login .login-section {
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  overflow: hidden;
}

.main-section {
  padding-top: 15px;
  padding-bottom: 15px;
  display: grid;
  gap: 20px;
}

.form-input {
  width: 100%;
}
.form-input input.input {
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  background-color: var(--color-white);
}
.form-input input:focus {
  outline-width: 2px;
  outline-color: var(--color-primary);
  background-color: #fbfbfb;
}
.form-input select.select {
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  background-color: var(--color-white);
}
.form-input select:focus {
  outline-width: 2px;
  outline-color: var(--color-primary);
  background-color: #fbfbfb;
}
.form-input label {
  color: var(--color-primary);
  font-size: 12px;
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar {
  padding: 10px;
  height: 70px;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 7px;
}

.section {
  padding: 10px;
  background-color: var(--color-white);
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.section-transparant {
  padding: 10px;
  background-color: var(--color-ghost);
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.section-secondary {
  padding: 10px;
  background-color: var(--color-secondary);
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.section-warning {
  padding: 10px;
  background-color: var(--color-warning);
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.section-primary {
  padding: 10px;
  background-color: var(--color-primary);
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.section-success {
  padding: 10px;
  background-color: var(--color-success);
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.section-info {
  padding: 10px;
  background-color: var(--color-info);
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.card {
  border-radius: 7px;
  overflow: hidden;
}

button {
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
}
button.button {
  background-color: var(--color-white);
}
button.button:hover {
  background-color: var(--color-white-hover);
}
button.button-primary {
  background-color: var(--color-primary-second);
  color: var(--color-white);
}
button.button-primary:hover {
  background-color: var(--color-primary-second-hover);
}
button.button-transparant {
  background-color: rgba(255, 255, 255, 0);
  color: var(--color-black);
}
button.button-transparant:hover {
  background-color: rgba(0, 0, 0, 0.0588235294);
}
button.button-white {
  background-color: var(--color-white);
  color: var(--color-black);
}
button.button-white:hover {
  background-color: var(--color-white-hover);
}
button.button-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
button.button-secondary:hover {
  background-color: var(--color-secondary-hover);
}
button.button-info {
  background-color: var(--color-info);
  color: var(--color-white);
}
button.button-info:hover {
  background-color: var(--color-info-hover);
}
button.button-warning {
  background-color: var(--color-warning);
  color: var(--color-black);
}
button.button-warning:hover {
  background-color: var(--color-warning-hover);
}
button.button-success {
  background-color: var(--color-success);
  color: var(--color-white);
}
button.button-success:hover {
  background-color: var(--color-success-hover);
}
button:active {
  transform: scale(0.95);
}
@keyframes nolsatu {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(0.9);
  }
}

button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
  z-index: 1;
}
button[disabled]:active {
  transform: scale(1);
}

.animasi-popup {
  animation: scaleUp 1s;
}
@keyframes scaleUp {
  0% {
    transform: scale(0);
    transition: ease-in-out;
    opacity: 0;
  }
  50% {
    transform: scale(1.03);
    transition: ease-in-out;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transition: ease-in-out;
    opacity: 1;
  }
}

.animasi-topToBottom {
  animation: toptoBottom 0.5s forwards;
  transition: ease-in-out;
}
@keyframes toptoBottom {
  0% {
    transform: translateY(0%);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateY(30%);
    opacity: 1;
  }
}

.animasi-hilang {
  animation: hilang 0.5s forwards;
  transition: ease-in-out;
}
@keyframes hilang {
  100% {
    transform: translateY(0%);
    opacity: 0;
    display: none;
  }
}

.animasi-muncul-on {
  animation: munculOn 0.5s forwards;
  transition: ease-in-out;
}
@keyframes munculOn {
  0% {
    transform: translateY(-3%);
    opacity: 0;
    display: none;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animasi-muncul-off {
  animation: munculOff 0.5s forwards;
  transition: ease-in-out;
}
@keyframes munculOff {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-10%);
    opacity: 0;
    display: none;
  }
}

ul li::before {
  content: "‣";
  width: 5em;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  /* Your CSS styles here */
}
.text-white {
  color: var(--color-white);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-warning {
  color: var(--color-warning);
}

.text-info {
  color: var(--color-info);
}

.text-ghost {
  color: var(--color-ghost);
}

/*# sourceMappingURL=globals.css.map */
